{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Find Collaboartors of researchers you'd like to talk to at SIGIR</h1>
    <p>Enter the name of the researcher you're interested in (with capitalization).</p>
 <form action="/search" method="GET">
  <label for="fname">Name:</label><br>
  <input type="text" id="name" name="name" value="Xavier Ochoa"><br>
  <input type="submit" value="Submit">
</form>
  </div>
</div>
{% endblock %}
